<html>
  <head>
    <title>My Angular App!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/javascripts/angular-app.js"></script>
  </head>
  <body ng-app="kyle-mean-app" ng-controller="MainCtrl">
    <div>
      {{test}}
    </div>
  </body>
</html>