<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Profile Page | KM - Responsive Website Template</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A Simple Mean Application">
	<meta name="author" content="Kyle Chang Fatt">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-default.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">


	<!-- CSS Page Style -->
	<link rel="stylesheet" href="assets/css/pages/profile.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
	
	<!-- Angular, UI Router-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script type-"text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>	
		
</head>


<body ng-app="main">
	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header" ng-controller="authController">
			<div class="container">
				<!-- Logo -->
				<a class="logo" ui-sref="user_account.home">
					<img src="assets/img/logo1-default.png" alt="Logo">
				</a>
				<!-- End Logo -->

				<!-- Topbar -->
				<div class="topbar">
					<ul class="loginbar pull-right">
						<li ng-show="isLoggedIn()">{{ currentUser() }}</li>
						<li ng-show="isLoggedIn()" class="topbar-devider" ></li>
						<li><a href="#">Help</a></li>
						<li class="topbar-devider"></li>
						<li ng-hide="isLoggedIn()"><a ui-sref="login_or_register">Login</a></li>
						<li ng-show="isLoggedIn()"><a ng-click="logout()" ui-sref="login_or_register">Logout</a></li>
					</ul>
				</div>
				<!-- End Topbar -->
			</div>
		</div>
		<!--=== End Header ===-->

		<ui-view></ui-view>
		
		<!--=== Footer Version 1 ===-->
		<div class="footer-v1">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3 md-margin-bottom-40">
							<a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a>
							<p>About me: Passionate web developer!</p>
							<p>Mean Stack: MongoDB, Express, Angular, Nodejs</p>
						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Latest -->
						<div class="col-md-3 md-margin-bottom-40">
							<div class="posts">
								<div class="headline"><h2>Latest Posts</h2></div>
								<ul class="list-unstyled latest-list">
									<li>
										<a href="#">Incredible content</a>
										<small>May 8, 2014</small>
									</li>
									<li>
										<a href="#">Best shoots</a>
										<small>June 23, 2014</small>
									</li>
									<li>
										<a href="#">New Terms and Conditions</a>
										<small>September 15, 2014</small>
									</li>
								</ul>
							</div>
						</div><!--/col-md-3-->
						<!-- End Latest -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-40">
							<div class="headline"><h2>Useful Links</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
								<li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
								<li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
								<li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
								<li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Address -->
						<div class="col-md-3 map-img md-margin-bottom-40">
							<div class="headline"><h2>Contact Me</h2></div>
							<address class="md-margin-bottom-40">
								131-42 231st street <br />
								Laurelton, NY <br />
								Phone: 917 843 0464 <br />
								Email: <a href="#" class="">kchangfatt@gmail.com</a>
							</address>
						</div><!--/col-md-3-->
						<!-- End Address -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								2015 &copy; All Rights Reserved.
								<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
							</p>
						</div>

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
										<i class="fa fa-skype"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
										<i class="fa fa-dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/plugins/ui-bootstrap-tpls-1.3.3.js"></script>
	
	<!-- Modules -->
    <script type="text/javascript" src="main-app/main.js"></script>
    <script type="text/javascript" src="main-app/authenticate/auth.js"></script>
    <script type="text/javascript" src="main-app/account/account.js"></script>
    <script type="text/javascript" src="main-app/note/note.js"></script>
    <script type="text/javascript" src="main-app/discussion/discussion.js"></script>
    <script type="text/javascript" src="main-app/event/event.js"></script>
    <script type="text/javascript" src="main-app/friend/friend.js"></script>
    <script type="text/javascript" src="main-app/notification/notification.js"></script>
    <script type="text/javascript" src="main-app/profile/profile.js"></script>
	<script type="text/javascript" src="main-app/education/education.js"></script>
	<script type="text/javascript" src="main-app/experience/experience.js"></script>
	<script type="text/javascript" src="main-app/skill/skill.js"></script>
	<script type="text/javascript" src="main-app/socialContact/socialContact.js"></script>
	<script type="text/javascript" src="main-app/modal/modal.js"></script>
	
	<!-- Services -->
	<script type="text/javascript" src="main-app/authenticate/authFactory.js"></script>
	<script type="text/javascript" src="main-app/account/accountFactory.js"></script>
	<script type="text/javascript" src="main-app/note/noteFactory.js"></script>
	<script type="text/javascript" src="main-app/discussion/discussionFactory.js"></script>
	<script type="text/javascript" src="main-app/event/eventFactory.js"></script>
	
	<script type="text/javascript" src="main-app/friend/friendFactory.js"></script>
	<script type="text/javascript" src="main-app/notification/notificationFactory.js"></script>
	<script type="text/javascript" src="main-app/profile/profileFactory.js"></script>
	<script type="text/javascript" src="main-app/education/educationFactory.js"></script>
	<script type="text/javascript" src="main-app/experience/experienceFactory.js"></script>
	<script type="text/javascript" src="main-app/skill/skillFactory.js"></script>
	<script type="text/javascript" src="main-app/socialContact/socialContactFactory.js"></script>
	
	<!-- Controllers -->
	<script type="text/javascript" src="main-app/authenticate/authController.js"></script>
	<script type="text/javascript" src="main-app/account/accountController.js"></script>
	<script type="text/javascript" src="main-app/account/passwordController.js"></script>
	<script type="text/javascript" src="main-app/note/noteController.js"></script>
	<script type="text/javascript" src="main-app/discussion/discussionController.js"></script>
	<script type="text/javascript" src="main-app/event/eventController.js"></script>
	<script type="text/javascript" src="main-app/friend/friendController.js"></script>
	<script type="text/javascript" src="main-app/notification/notificationController.js"></script>
	<script type="text/javascript" src="main-app/profile/profileController.js"></script>
	<script type="text/javascript" src="main-app/education/educationController.js"></script>
	<script type="text/javascript" src="main-app/experience/experienceController.js"></script>
	<script type="text/javascript" src="main-app/skill/skillController.js"></script>
	<script type="text/javascript" src="main-app/socialContact/socialContactController.js"></script>
	<script type="text/javascript" src="main-app/modal/modalFormController.js"></script>
	<script type="text/javascript" src="main-app/modal/modalConfirmController.js"></script>
	
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->



</body>
</html>
