<!-- Chat -->
<div class="row margin-bottom-20">
	<div class="col-md-4 bg-white ">
      	<div class=" row border-bottom padding-sm" style="height: 40px;">
        	Friends
        	<button class="btn btn-primary btn-xs pull-right" type="button" 
        		data-toggle="modal" data-target="#add-friend" ng-click="open()">
        	    <i class="icon-media-127"></i> Add
        	</button>
        	<!--<span aria-hidden="true" class="icon-media-127 icon-lg rounded-x icon pull-right"></span>-->
        </div>
            
        <!--=============================================================== -->
        
        <!--member list -->
            
        <ul class="friend-list">
            <li class="active bounceInDown" ng-hide="!each.accepted" ng-repeat="each in friendList track by $index">
                <a class="clearfix" role="button" ng-click="showChat($index)">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                    <div class="friend-name">	
                        <strong>{{ each.friend.firstName }} {{ each.friend.lastName }}</strong>
                    </div>
                    <div class="last-message text-muted" ng-show="missedMessages($index) > 0">{{ latestFriendMessage($index) }}</div>
                    <small class="time text-muted" ng-show="missedMessages($index) > 0">{{ latestFriendMessageDate($index) }}</small>
                    <small class="chat-alert label label-danger" ng-show="missedMessages($index) > 0">{{ missedMessages($index) }}</small>
                </a>
            </li>
             
            <!--<li>-->
            <!--  <a href="#" class="clearfix">-->
            <!--  	<img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">-->
            <!--  	<div class="friend-name">	-->
            <!--  		<strong>Jane Doe</strong>-->
            <!--  	</div>-->
            <!--  	<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>-->
            <!--  	<small class="time text-muted">5 mins ago</small>-->
            <!--  <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>-->
            <!--  </a>-->
            <!--</li> -->
            <!--<li>-->
            <!--	<a href="#" class="clearfix">-->
            <!--		<img src="http://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">-->
            <!--		<div class="friend-name">	-->
            <!--			<strong>Kate</strong>-->
            <!--		</div>-->
            <!--		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>-->
            <!--		<small class="time text-muted">Yesterday</small>-->
            <!--		<small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>-->
            <!--	</a>-->
            <!--</li>  -->
            <!--<li>-->
            <!--	<a href="#" class="clearfix">-->
            <!--		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">-->
            <!--		<div class="friend-name">	-->
            <!--			<strong>Kate</strong>-->
            <!--		</div>-->
            <!--		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>-->
            <!--		<small class="time text-muted">Yesterday</small>-->
            <!--		<small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>-->
            <!--	</a>-->
            <!--</li>     -->
            <!--<li>-->
            <!--	<a href="#" class="clearfix">-->
            <!--		<img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">-->
            <!--		<div class="friend-name">	-->
            <!--			<strong>Kate</strong>-->
            <!--		</div>-->
            <!--		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>-->
            <!--		<small class="time text-muted">Yesterday</small>-->
            <!--		<small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>-->
            <!--	</a>-->
            <!--</li>        -->
            <!--<li>-->
            <!--	<a href="#" class="clearfix">-->
            <!--		<img src="http://bootdey.com/img/Content/user_6.jpg" alt="" class="img-circle">-->
            <!--		<div class="friend-name">	-->
            <!--			<strong>Kate</strong>-->
            <!--		</div>-->
            <!--		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>-->
            <!--		<small class="time text-muted">Yesterday</small>-->
            <!--		<small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>-->
            <!--	</a>-->
            <!--</li>          -->
            <!--<li>-->
            <!--	<a href="#" class="clearfix">-->
            <!--		<img src="http://bootdey.com/img/Content/user_5.jpg" alt="" class="img-circle">-->
            <!--		<div class="friend-name">	-->
            <!--			<strong>Kate</strong>-->
            <!--		</div>-->
            <!--		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>-->
            <!--		<small class="time text-muted">Yesterday</small>-->
            <!--		<small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>-->
            <!--	</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <a href="#" class="clearfix">-->
            <!--		<img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">-->
            <!--		<div class="friend-name">	-->
            <!--			<strong>Jane Doe</strong>-->
            <!--		</div>-->
            <!--		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>-->
            <!--		<small class="time text-muted">5 mins ago</small>-->
            <!--	<small class="chat-alert text-muted"><i class="fa fa-check"></i></small>-->
            <!--	</a>-->
            <!--</li>                 -->
        </ul>
    </div>

    
    <!--=========================================================-->
    <!-- selected chat -->
	<div class="col-md-8 bg-white" >
        <div class="chat-message" ng-show="chatActive($index)" ng-active="chatActive($index)" 
        ng-repeat="each in friendList track by $index">
            
            <ul class="chat" scroll-glue>
                <li class="{{ chatPosition(each2.isFriend) }} clearfix" ng-repeat="each2 in each.chat track by $index">
                	<span class="chat-img pull-{{ chatPosition(each2.isFriend) }}">
                		<img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                	</span>
                	<div class="chat-body clearfix">
                		<div class="header">
                			<strong class="primary-font">{{ messageBy(each2.isFriend, $parent.$index) }}</strong>
                			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{ messageDate(each2.date) }}</small>
                		</div>
                		<p> {{ each2.message }} </p>
                	</div>
                </li>
                <!--<li class="right clearfix">-->
                <!--	<span class="chat-img pull-right">-->
                <!--		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">-->
                <!--	</span>-->
                <!--	<div class="chat-body clearfix">-->
                <!--		<div class="header">-->
                <!--			<strong class="primary-font">Sarah</strong>-->
                <!--			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>-->
                <!--		</div>-->
                <!--		<p>-->
                <!--			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. -->
                <!--		</p>-->
                <!--	</div>-->
                <!--</li>-->
                <!--<li class="left clearfix">-->
                <!--    <span class="chat-img pull-left">-->
                <!--		<img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">-->
                <!--	</span>-->
                <!--	<div class="chat-body clearfix">-->
                <!--		<div class="header">-->
                <!--			<strong class="primary-font">John Doe</strong>-->
                <!--			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>-->
                <!--		</div>-->
                <!--		<p>-->
                <!--			Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                <!--		</p>-->
                <!--	</div>-->
                <!--</li>-->
                <!--<li class="right clearfix">-->
                <!--    <span class="chat-img pull-right">-->
                <!--		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">-->
                <!--	</span>-->
                <!--	<div class="chat-body clearfix">-->
                <!--		<div class="header">-->
                <!--			<strong class="primary-font">Sarah</strong>-->
                <!--			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>-->
                <!--		</div>-->
                <!--		<p>-->
                <!--			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. -->
                <!--		</p>-->
                <!--	</div>-->
                <!--</li>                    -->
                <!--<li class="left clearfix">-->
                <!--    <span class="chat-img pull-left">-->
                <!--		<img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">-->
                <!--	</span>-->
                <!--	<div class="chat-body clearfix">-->
                <!--		<div class="header">-->
                <!--			<strong class="primary-font">John Doe</strong>-->
                <!--			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>-->
                <!--		</div>-->
                <!--		<p>-->
                <!--			Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                <!--		</p>-->
                <!--	</div>-->
                <!--</li>-->
                <!--<li class="right clearfix">-->
                <!--    <span class="chat-img pull-right">-->
                <!--		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">-->
                <!--	</span>-->
                <!--	<div class="chat-body clearfix">-->
                <!--		<div class="header">-->
                <!--			<strong class="primary-font">Sarah</strong>-->
                <!--			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>-->
                <!--		</div>-->
                <!--		<p>-->
                <!--			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. -->
                <!--		</p>-->
                <!--	</div>-->
                <!--</li>-->
                <!--<li class="right clearfix">-->
                <!--    <span class="chat-img pull-right">-->
                <!--		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">-->
                <!--	</span>-->
                <!--	<div class="chat-body clearfix">-->
                <!--		<div class="header">-->
                <!--			<strong class="primary-font">Sarah</strong>-->
                <!--			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>-->
                <!--		</div>-->
                <!--		<p>-->
                <!--			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. -->
                <!--		</p>-->
                <!--	</div>-->
                <!--</li>                    -->
            </ul> 
            <div class="chat-box bg-white">
            	<form name="messageSender">
            	    <div class="input-group">
            		    <input class="form-control border no-shadow no-rounded" ng-model="newMessage"
            		    ng-click="readMessages(each.friend._id ,$index)" placeholder="Type your message here">
            		    <span class="input-group-btn">
            		        <button class="btn btn-success no-rounded" type="submit" 
            		        ng-click="sendMessage(each.friend._id, $index)">Send</button>
            		    </span>
            	    </div>
            	</form>
            </div> 
        </div>
                  
	</div>        
</div>
<!--End Chat-->

<!-- Modal - Friend -->
<div id="add-friend" class="modal fade" role="dialog">
	<div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Friend Search</h4>
        </div>
        
        <div class="modal-body">
        	<form  ng-submit="findFriend()" class="form-block reg-block margin-bottom-5">
						<div class="input-group margin-bottom-20">
							<span class="input-group-addon rounded-left"><i class="icon-pencil"></i></span>
							<input type="text" class="form-control rounded-right" placeholder="Search by user..." 
								ng-model="searchEntry.entry"></input>
						</div>
						<div>
								<button type="submit" class="btn btn-default rounded center-block">Search</button>
						</div>
					</form>
			
			<div ng-repeat="person in searchResults track by $index">
					<div class="profile-blog">
						<img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
						<div class="name-location">
							<strong>{{ person.username }}</strong>
						</div>
						
						<div>
							<button ng-hide="checkFriendRequest(person._id) || show" ng-click="friendRequest(person); show=!show"  
							class="btn btn-default rounded center-block">Friend Request</button>
							<em ng-show="(checkFriendRequest(person._id) || show) && !checkFriend(person._id)">Friend Request Sent</em>
						</div>
					</div>
				
					<hr>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
 </div>
