<!--Friends-->
<div class="panel panel-profile">
	<div class="panel-heading overflow-h">
		<h2 class="panel-title heading-sm pull-left"><i class="fa fa-tasks"></i>friends</h2>
		<button type="button" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" data-toggle="modal" data-target="#add-friend" >+add</button>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6" ng-repeat="friend in friends">
				<div class="profile-blog blog-border">
					<img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
					<div class="name-location">
						<strong>{{ friend.user.firstName }} {{ friend.user.lastName }}</strong>
						<span><i class="fa fa-map-marker"></i><a href="#">{{ friend.user.city }},</a> <a href="#">{{ friend.user.country }}</a></span>
					</div>
					<div class="clearfix margin-bottom-20"></div>
					<p>Info here</p>
					<hr>
					<ul class="list-inline share-list">
						<li><i class="fa fa-bell"></i><a href="#"> </a></li>
						<li><i class="fa fa-group"></i><a href="#">{{ numFriends }} Friends</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Friends-->

<!-- Modal - Friend -->
<div id="add-friend" class="modal fade" role="dialog">
	<div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Friend Search</h4>
        </div>
        
        <div class="modal-body">
        	<form  ng-submit="findFriend()" class="form-block reg-block margin-bottom-5">
						<div class="input-group margin-bottom-20">
							<span class="input-group-addon rounded-left"><i class="icon-pencil"></i></span>
							<input type="text" class="form-control rounded-right" placeholder="Search by user..." 
								ng-model="searchEntry.entry"></input>
						</div>
						<div>
								<button type="submit" class="btn btn-default rounded center-block">Search</button>
						</div>
					</form>
			
			<div ng-repeat="person in searchResults track by $index">
					<div class="profile-blog">
						<img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
						<div class="name-location">
							<strong>{{ person.username }}</strong>
						</div>
						
						<div>
							<button ng-hide="checkFriendRequest(person.username)" ng-click="friendRequest(person.username)"  class="btn btn-default rounded center-block">Friend Request</button>
							<em ng-show="checkFriendRequest(person.username)">Friend Request Sent</em>
						</div>
					</div>
				
					<hr>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
 </div>