<div class="col-sm-6 sm-margin-bottom-30">
	<div class="panel panel-profile">
		<div class="panel-heading overflow-h">
			<h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Social Contacts </h2>
			<button type="button" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" 
			ng-click="open()">+add</button>
		</div>
		<div class="panel-body">
			<ul class="list-unstyled social-contacts-v2">
				<li ng-repeat="socialContact in socialContacts"><i class="rounded-x tw fa fa-{{ socialContact.socialSite }}"></i>
				<a href="{{ socialContact.socialWebsite }}">{{ socialContact.socialName }}</a></li>
			</ul>
		</div>
	</div>
</div>